<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'page.type' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="pagetype">
  <div *ngIf="list">
      <div *ngIf="typeList.length>0">
        <ion-list>
          <ion-item *ngFor="let type of typeList" (click)="editType(type)">
            {{ type.nom }}
            <button ion-button item-end clear icon-end>  
              <ion-icon color="dark" name='md-arrow-dropright-circle'></ion-icon>
            </button>  
          </ion-item>
        </ion-list>
      </div>
      <button id="longue-button5" ion-button color="positive" block (click)="editType(type)">
          {{'general.add' | translate }} {{'type.type' | translate }}
        </button>
  </div>
  <div *ngIf="!list">
      <alert></alert>
      <form [formGroup]="typeForm" id="type-form4">
        <ion-item id="type-input1">
          <ion-label floating translate>type.type</ion-label>
          <ion-input [(ngModel)]="type.nom" type="text" placeholder="{{ 'type.type' | translate }}" formControlName="nom" text-right
          [class.invalid]="!typeForm.controls.nom.valid && (typeForm.controls.nom.dirty || submitted)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!typeForm.controls.nom.valid  && (typeForm.controls.nom.dirty || submitted)">
          <p class="invalid">{{'type.type' | translate }} {{"general.required" | translate }}</p>
        </ion-item>
        <p *ngIf="typeForm.hasError('double')" [class.invalid]=true>{{ 'type.double' | translate }}</p>
      </form>
      <button [disabled]="!typeForm.valid" id="longue-button5" ion-button color="primary" block (click)="saveType(type)">
                {{'general.save' | translate }}
      </button>
      <button id="longue-button5" ion-button color="danger" block (click)="deleteType(type)">
          {{'general.suppress' | translate }}
      </button>
  </div>
  
</ion-content>