alert {
/*   .alertWrapper{
    background-color: rgb(216, 79, 79);
  }
  .alertDanger{
    background-color: rgb(243, 227, 227);
    color: red;
    button{
        color: red;
    }  
  }
  .alertSuccess{
    background-color: rgb(243, 229, 229);
    color: rgb(0, 255, 0);
    button{
        color: rgb(0, 255, 0);
    }  
  }
 */}